:root{
    --color-primary: var(--color-primary);
    --title-text-color: var();
    --accent-color: var();
}

body{
    background-color: var();
    color: var();
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
    
}

/* site-nav list*/
.site-nav {
    color: ;
}
.site-nav:hover {
    color: ;
}
.site-nav:focus {
    color: ;
}

/* link */

/* button */
.button {
    background-color: #2196F3;
    color: ;
   
    position: absolute;
width: 216px;
height: 50px;
left: 692px;
top: 430px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* hero */
.hero-title {

}

/* section*/
.section-title {
    color: ;
}

/*Приховані заголовки*/
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }