:root{
    --color-primary: var(--color-primary);
    --title-text-color: var();
    --accent-color: var();
}

body{
    color: var();
    font-family: ;
    font-size: ;
    font-weight: ;
    background-color: var();
    
}

/* site-nav list*/
.site-nav {
    color: ;
}
.site-nav:hover {
    color: ;
}
.site-nav:focus {
    color: ;
}

/* link */

/* button */
.button {
    background-color: ;
    color: ;
}

/* hero */
.hero-title {

}

/* section*/
.section-title {
    color: ;
}

/*Приховані заголовки*/
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }