:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primary-background-color: #FFFFFF;
--secondary-background-color: #2F303A;
}

body{
    color: var(--title-text-color);
    background-color: var(--primary-background-color);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;       
}

/*header*/
.header {
    background-color: var(--primary-background-color);
    }

/*logo*/
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
font-weight: 700;
    font-size: 26px;
line-height: 1,19;

}

.header-studio {
    color: #000000;
}

/*nav list*/
.list {
    list-style: none;}

.nav-links {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1,14;
}

.link {
    color: var(accent-color);
  }

  .link:hover {
    color: var(accent-color);
  }

  .link:focus {
    color: var(accent-color);
  }

  .link:active {
    color: var(accent-color);
  }

  .link.current {
    color: var(--accent-color);

  }

  .header-emeil, .header-tel {
    color: var(--primary-text-color);
  }

    /* hero */
  .hero {
    background-color: #2F303A;
         }

  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
}

/* button */
.button {
    background-color: #2196F3;
    color: var(--primary-background-color);
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
   
 }

.button:hover {
    color: ;
}

.button:focus {
    color: ;
}

.button:active {

}

/*title h2*/
title {
    color: var(--title-text-color) ;
}

/*features*/
.feature.list-title {

}

.features.text {

}

/*works*/
.teame-title {

}

/*teame-section*/
.name {

}

.profession {

}


/*Приховані заголовки*/
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }

  /*footer*/
  .footer {
    background-color: var(--secondary-background-color);
  }
  .footer-studio {

  }

   .footer-address {

  }

  .footer-list {

  }

  .footer-emeil:hover, .footer-tel:hover {

  }

  .footer-emeil:focus, .footer-tel:focus {

  }

  
  /*portfolio.html*/
  .portfolio-section {

  }

  .portfolio-title {

  }

  /*button*/
  .portfolio-button {

  }

  .portfolio-button:hover {
    
}

.portfolio-button:focus {
    
}
.portfolio-button:active {
    
}

 .portfolio-links {

 } 

 .portfolio.link {

 }

 .portfolio.link:hover {
    
}

 .portfolio.link:focus {
    
}

.portfolio.link:active {
    
}

.project-title {

}

.project-text {

}